.header-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #263238; /* Header background color */
    height: 60px;
}

.header-right-flex-container{
    display: flex;
}

.logo-flex-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

.logo {
    color: #fff; /* Logo text color */
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px; /* Logo text font size*/
    cursor: pointer;
}
