.header-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #263238; /* Header background color */
    height: 60px;
}

.header-right-flex-container{
    display: flex;
}

.logo-flex-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

.logo {
    color: #fff; /* Logo text color */
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px; /* Logo text font size*/
    cursor: pointer;
}

.header-right-flex-container{
    display: flex;
}

.search-box {
    border-radius: 4px; /* Border radius 4px*/
    width: 300px; /* Width of the search box 300px */
    background: #c0c0c0; /* Background color of the box */
    height: 40px;
    margin: 10px 0px 10px 0px; /* Display search-box vertically in the center*/
} 
